
<div class="container">
  <input type="text" [(ngModel)]="term" class="form-control search" placeholder="Search by Game title, platform, genre..." />
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th sortable-column="id">Title</th>
        <th>Platform</th>
        <th>Score</th>
        <th>Genre</th>
        <th>Editors Choice</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of data |filter:term">
        <td>{{data.title}}</td>
        <td>{{data.platform}}</td>
        <td>{{data.score}}</td>
        <td>{{data.genre}}</td>
        <td>{{data.editors_choice}}</td>
      </tr>
    </tbody>
  </table>
</div>